html {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height:100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #4A4A4A;
    background-color: #f9f9f9;
    width: 100%;
    height:100%;
    margin: 0;
}